.navbar-brand {
	background-color: #001A72;
	font-size: 175%;
}

.navbar-default .navbar-brand {
	color: white;
}

p.help {
	background-color: #ffbf80;
	border-radius:10px;
	text-align: center;
}

#welcome-top {
	height: 200px;
	text-shadow: -2px 0 #000000,0 2px #000000,2px 0 #000000,0 -2px #000000;
	font-weight: bold;
}

#welcome-mid {
	height: 315px;
}

#welcome-header {
	text-align: center;
	color: white;
}

.welcome-text {
	text-align: center;
    height: 100%;
	color: white;
	font-size: 150%;
	font-weight: bold;
	text-shadow: -2px 0 #000000,0 2px #000000,2px 0 #000000,0 -2px #000000;
}

#specific1 {
	font-size: 150%;
	padding: 15px;
}

#ethnicity, #gender, #age, #special {
	background-color: #e6f2ff;
	border-color: black;
	max-width: 100%;
}

#enrollPerc, #enrollCompPlt, #achPerc, #achCompPlt {
	background-color: #e6f2ff;
	border-color: black;
}

.tab-pane {
	background-image: url('dashboard-background_horizontal-1.jpg');
	background-color: #001A72;

}

#info {
	color: white;
	text-align: right;
	padding: 5px;
}

.cohortMsg {
	text-align: center;
	padding-bottom: 10px;
	font-size: 105%;
}

#cohortSize {
	font-size: 170%;
	color: white;
	text-align: left;
	padding-top: 25px;
}

#enrollTitle, #enrollcompTitle, #achcompTitle, #achTitle  {
	font-size: 160%;
	color: white;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

#def {
	font-size: 130%;
	color: white;
	text-align: left;
	padding-top: 25px;
}

#warn1, #warn2, #acwarn, #acwarn2 {
	color:white;
	font-size: 130%;
	padding: 10px;
	background-color: #001A72;
	text-align: center;
	border-radius: 10px
}

.defLink {
	padding-top: 20px;
	color: white;
	font-size: 150%;
	font-weight: bold;
	text-shadow: -2px 0 #000000,0 2px #000000,2px 0 #000000,0 -2px #000000;
}

#navbar li a[data-value='Cohort Enrollment'],
#navbar li a[data-value='Cohort Achievements'],
#navbar li a[data-value='Select a Cohort'],
#navbar li a[data-value='Need Help?'] {
	font-weight: bold;
	color: #001A72;
}

#place {
	padding: 25px;
}

#inst {
	padding-top: 25px;
}

