.navbar-brand {
	background-color: blue;
	font-size: 175%;
}

.navbar-default .navbar-brand {
	color: white;
}

p.help {
	background-color: #ffbf80;
	border-radius:10px;
	text-align: center;
}

#welcome-top {
	height: 200px;
	text-shadow: -2px 0 #000000,0 2px #000000,2px 0 #000000,0 -2px #000000;
	font-weight: bold;
}

#welcome-mid {
	height: 315px;
}

#welcome-header {
	text-align: center;
	color: white;
}

.welcome-text {
	text-align: center;
        height: 100%;
	color: white;
	font-size: 200%;
	font-weight: bold;
	text-shadow: -2px 0 #000000,0 2px #000000,2px 0 #000000,0 -2px #000000;
}

#specific {
	font-size: 150%;
}

#ethnicity, #gender, #age, #special {
	background-color: #e6f2ff;
	border-color: black;
}

#enrollPerc, #enrollCompPlt, #achPerc, #achCompPlt {
	background-color: #e6f2ff;
	border-color: black;
}

.tab-pane {
	background-image: url('LRC-home-banner1.jpg');

}

#info {
	color: white;
	text-align: right;
}

.cohortMsg {
	text-align: center;
	padding-bottom: 10px;
	font-size: 105%;
}

#cohortSize {
	font-size: 160%;
	color: white;
	text-align: center;
	padding-top: 10px;
}

#enrollTitle, #enrollcompTitle, #achcompTitle, #achTitle  {
	font-size: 175%;
	color: white;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

#def {
	font-size: 100%;
	color: white;
	text-align: center;
	padding-top: 10px;
}



